<!-- Modal -->
<div>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content  login-form">
        <div class="modal-header position-center">
          <h1 class="modal-title" id="exampleModalLabel">Login</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class=" modal-body position-center">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <app-error-message [control]="userForm.controls['username']"></app-error-message>
            <div class="form-group ">
              <input type="text" class="form-control" formControlName="username" placeholder="Username " id="UserName">
              <i class="fa fa-user"></i>
            </div>
            <app-error-message [control]="userForm.controls['password']"></app-error-message>          
            <div class="form-group log-status">
              <input type="password" class="form-control" formControlName="password" placeholder="Password" id="Passwod">
              <a><i class="fa fa-lock"></i></a>
            </div>
            <div *ngIf="invalid" class="error-message" >Invalid  Credentials</div>  
            <button type="submit" class="log-btn button button--dark">Log in</button>
          </form>
        </div>
        <div class="">
          <a class="link" href="#">Has olvidado tu contrasña?</a>
          <a class="link"  (click)="this.changueModal()"  href="#">No estas registrado?</a>
        </div>
      </div>
    </div>
  </div>
</div>