
<section id="poster" class="poster">
    <div id="poster-content" class="poster-content">
        <img id="logo" class="logo" src="assets/img/social-media/logo.png" alt="">
        <div id="poster-text" class="poster-text">
            <h1>Saca tu lado más competitivo y enfréntate a los mejores jugadores españoles</h1>
            <h3>¡Bienvenido a Bionix! En un futuro muy próximo, tendrás la oportunidad unirte a nuestra comunidad gaming y de
                participar en nuestros torneos y eventos.</h3>
        </div>
        <button class="button button--normal " data-toggle="modal" data-target="#login-modal">Login</button>
        <div class="social-media-icons">
            <a href="https://www.facebook.com/bionix.es/" target="_blank"><img class="sm-icon" src="assets\img\social-media\facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/bionix_es" target="_blank"><img class="sm-icon" src="assets\img\social-media\twitter.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="sm-icon" src="assets\img\social-media\youtube.png" alt="Youtube"></a>
            <a href="#" target="_blank"><img class="sm-icon" src="assets\img\social-media\twitch.png" alt="Twitch"></a>
            <a href="#" target="_blank"><img class="sm-icon" src="assets\img\social-media\steam.png" alt="Steam"></a>
        </div>
    </div>
    <video autoplay="autoplay" loop="loop" preload="auto" muted="muted" src="assets/video/background.mp4"></video>
</section>
<app-login></app-login>