$colors-pallete:(darker,#9f7e69),
(dark,#d2bba0),(normal,#f2efc7),
(light,#f7ffe0),(lighter,#ffeee2);

$colors:#9f7e69,#d2bba0,#f2efc7,#f7ffe0,#ffeee2;

$size-variations:
xlarg,
large,
medium,
small,
xsmall;

$margin-sizes:10,20,30,40,50,60,70,80,90;